*
{
    padding: 0; 
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5vmin;
    box-sizing: border-box;
}

body
{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
}

::-webkit-scrollbar 
{
    width: 1.5vmin;
    background: rgb(201, 201, 201);
}

::-webkit-scrollbar-thumb
{
    background: rgb(52, 84, 122);
    border: 0.5vmin solid rgb(201, 201, 201);
}

html
{
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
}

a, p, h6
{
    font-size: 2vmin;
}

h5
{
    font-size: 2.5vmin;
}

h4
{
    font-size: 3vmin;
}

h3
{
    font-size: 3.5vmin;
}

h2
{
    font-size: 4vmin;
}

h1
{
    font-size: 5vmin;
}

header
{
    width: 100%;
    height: 10vmin;
    background-color: rgb(229, 229, 229); /* rgb(238, 239, 241) */
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    flex-wrap: wrap;
    z-index: 10;
}

header > a
{
    height: 6vmin;
    width: 6vmin;
    margin-left: 20vw;
    transition: 1s;
    animation: logo 2s;
    animation-iteration-count: 1;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 400;
    font-size: 5vmin;
    font-style: normal;
    text-align: center;
    text-decoration: none;
    color: rgb(52, 84, 122);
}

@keyframes logo
{
    from
    {
        transform: translateX(-40vw);
    }
    to
    {
        transform: translateX(0vw);
    }
}

header > a:hover
{
    transform: scale(1.3,1.3);
}

nav
{
    margin-right: 11vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

nav > a
{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1vmin;
    width: 7vw;
    height: 5vh;
    margin-left: 1.5vw;
    border: 0.2vmin solid rgb(229, 229, 229);
    transition: 1s;
    color: black;
    text-decoration: none;
}

@media all and (orientation:portrait) 
{
    nav > a 
    {
        height: 2vh;
        width: 10vw;
    }

    nav
    {
        margin-right: 5vw;
    }
}

#ahome
{
    color: rgb(52, 84, 122);
}

nav > a:hover
{
    border: 0.2vmin solid black;
}

#ahome:hover
{
    border: 0.2vmin solid rgb(52, 84, 122);
}

section
{
    width: 100%;
    height: 150vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

/* home */

#home
{
    padding-top: 15vmin;
    background: rgb(229, 229, 229);
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#home > div
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50vh;
}

.pict
{
    width: 50vmin;
    height: 30vmin;
    margin: 0 5vmin;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.pict > img
{
    width: 30vmin;
    height: 30vmin;
}

.block
{
    width: 50vmin;
    height: 30vmin;
    margin: 0 5vmin;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.block > button
{
    background: rgb(52, 84, 122);
    width: 15vmin;
    height: 5vmin;
    color: white;
    border: 0 solid rgba(0,0,0,0);
}

/* section-1 */

#section-1
{
    height: 40vh;
    background: rgb(238, 239, 241); /* rgb(229, 229, 229) */
}

#section-1 > div
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 36vw;
    height: 20vh;
}

#section-1 p, #section-1 h4
{
    margin: 1vh 0;
    text-align: center;
}

/* section-2 */

#section-2
{
    height: 20vh;
    background: rgb(52, 84, 122);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
}

#section-2 > div
{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    width: 15vmin;
    height: 12vmin;
    margin: 0 4vmin;
}

#section-2 > div > img
{
    width: 6vmin;
    height: 6vmin;
}

#section-2 > div > div
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    width: 4vmin;
    height: 6vmin;
}

#section-2 *
{
    color: white;
}

/* section-3 */

#section-3
{
    height: 50vh;
    background: rgb(238, 239, 241);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

@media all and (orientation:portrait)
{
    #section-3
    {
        height: 40vh;
    }
}

#section-3 > div, #section-3 > div > img 
{
    width: 44vmin;
    height: 36vmin;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

#section-3 > div
{
    margin: 0 6vmin
}

#section-3 > div > div
{
    display: flex;
    flex-direction: column;
    margin: 2vmin 0;
}

#section-3 > div > h4
{
    margin: 4vmin 0;
}

#section-3 > div > div > div
{
    display: flex;
    flex-direction: row;
    margin: 1vmin 0;
}

.blue
{
    width: 33vmin;
    height: 0.4vmin;
    background: rgb(52, 84, 122);;
}

.greey
{
    width: 11vmin;
    height: 0.4vmin;
    background:rgb(196, 196, 196);;
}

/* section-4 */

#section-4
{
    height: 80vh;
    background: rgb(229, 229, 229);
}

#section-4 > div > p
{
    text-align: center;
    width: 35vw;
    margin: 4vh 0;
}

@media all and (orientation:portrait)
{
    #section-4
    {
        height: 35vh;
    }

    #section-4 > div > p
    {
        margin: 1.5vh 0;
        width: 45vw;
    }
}

#section-4 > div
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#section-4 > div > iframe
{
    width: 88vmin;
    height: 48vmin;
}

/* section-5 */

#section-5
{
    height: 50%;
    width: 100%;
    background: rgb(238, 239, 241);
    display: grid;
    grid-template: repeat(2, 25vw)/repeat(4, 25%);
}

#section-5 > .paper1,#section-5 > .paper2,#section-5 > .paper3,#section-5 > .paper4
{
    height: 100%;
    width: 100%;
    background-image: url("2S1QgsahUuy5fE7Dx4bWg2FL1B-Ww6T_gQrOyBRuU1d-2FAw6FY8hc5sy0KbvF_8V_PwHISkWsw3SIpPV9UTYpr0.jpg");
    background-size: cover;
    transition: 2s;
}


#section-5 > .laptop1,#section-5 > .laptop2,#section-5 > .laptop3,#section-5 > .laptop4
{
    height: 100%;
    width: 100%;
    background-image: url("uYiuzs3IvVP-GM2XjwBaQYpNPKWAcvoKrOxMgJ1b7FFqZNXv4MGAr0dvE79JKCLaxCZjM-dpYdBLagozmrvJg7mP.jpg");
    background-size: cover;
    transition: 2s;
}

@media all and (orientation:portrait)
{
    #section-5
    {
        height: 100%;
        display: grid;
        grid-template: repeat(4, 50vw)/repeat(2, 50%);
        
    }

    #section-5 > .paper1,#section-5 > .paper2,#section-5 > .paper3,#section-5 > .paper4
    {
        width: 100%;
        height: 100%;
    }

    #section-5 > .paper1
    {
        grid-row: 1;
        grid-column: 1;
    }

    #section-5 > .paper2
    {
        grid-row: 2;
        grid-column: 2;
    }

    #section-5 > .paper3
    {
        grid-row: 3;
        grid-column: 1;
    }

    #section-5 > .paper4
    {
        grid-row: 4;
        grid-column: 2;
    }

    #section-5 > .laptop1,#section-5 > .laptop2,#section-5 > .laptop3,#section-5 > .laptop4
    {
        width: 100%;
        height: 100%;
    }

    #section-5 > .laptop1
    {
        grid-row: 1;
        grid-column: 2;
    }

    #section-5 > .laptop2
    {
        grid-row: 2;
        grid-column: 1;
    }

    #section-5 > .laptop3
    {
        grid-row: 3;
        grid-column: 2;
    }

    #section-5 > .laptop4
    {
        grid-row: 4;
        grid-column: 1;
    }

}

#section-5 > div > div
{
    width: 100%;
    height: 100%;
    background: rgba(52, 84, 122, 0.8);
    opacity: 0;
    transition: 2s;
    display: flex;
    justify-content: center;
    align-items: center;
}

#section-5 > div > div > img
{
    width: 30%;
    height: 30%;
}

#section-5 > div:hover > div
{
    opacity: 1;
}

/* section-6 */

#section-6
{
    height: 20vh;
    background: rgb(238, 239, 241);
    display: grid;
    grid-template-columns: repeat(4, 25vmin);
    grid-template-rows: 12vmin;
    gap: 1.5vw;
    align-content: center;
}

#section-6 > img
{
    width: 25vmin;
    height: 12vmin;
}

@media all and (orientation:portrait)
{
    #section-6
    {
        grid-template-columns: repeat(2, 25vmin);
        grid-template-rows: repeat(2, 12vmin);
        justify-content: center;
        gap: 6vw;
    }
}

/* section-7 */

#section-7
{
    height: 80vh;
    background: rgb(229, 229, 229);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#section-7 > p
{
    width: 35vw;
    text-align: center;
    margin: 3vmin 0;
}

#section-7 > div
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 35vw;
}

.name,.email
{
    width: 15vw;
    height: 5vmin;
    margin: 3vmin 0;
    padding-left: 1vw;
}

.message
{
    width: 35vw;
    height: 20vmin;
    margin-bottom: 6vmin;
    padding-left: 1vw;
    padding-bottom: 14vmin;
}

#section-7 > button
{
    background: rgb(52, 84, 122);
    width: 15vmin;
    height: 5vmin;
    color: white;
    border: 0 solid rgba(0,0,0,0);
}

@media all and (orientation:portrait)
{
    #section-7
    {
        height: 40vh;
    }

    #section-7 > p
    {
        width: 50vw;
        text-align: center;
        margin: 3vmin 0;
    }

    #section-7 > div
    {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 70vw;
    }

    .name,.email
    {
        width: 30vw;
        height: 7vmin;
        margin: 3vmin 0;
    }

    .message
    {
        width: 70vw;
        height: 40vmin;
        margin-bottom: 6vmin;
    }

    #section-7 > button
    {
        width: 20vw;
        height: 7vmin;
    }
}

/* footer */

footer
{
    width: 100%;
    height: 15vh;
    background-color: rgb(52, 84, 122);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
}

footer > div
{
    width: 75%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

footer > div > div
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

footer > div > div > p
{
    margin-top: 1vmin;
    font-size: 1.5vmin
}

.vkrow
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

footer > div > div > img
{
    width: 5vmin;
    height: 5vmin;
    margin: 0 1.5vmin;
}

@media all and (orientation:portrait)
{
    footer
    {
        height: 6vh;
    }
}

